* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
}
header {
  height: 100px;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;

  svg.bitcoin {
    height: 40px;
    width: 40px;
  }

  div.navigation {
    position: relative;
    svg.burger_icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    nav {
      display: none;
      position: absolute;
      background-color: black;
      left: -28px;
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li {
          a {
            padding: 20px;
            color: white;
            text-decoration: none;
            font-size: 20px;
          }
        }
      }
    }
  }
  div.navigation:hover nav {
    display: flex;
    animation: identifier 1s ease-in;
  }
}

div.message {
  width: 60px;
  height: 60px;
  background-color: darkgoldenrod;
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 50px;
}

@keyframes identifier {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

div.message:hover {
  animation: identifier 1s ease;
}
